*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: black; */
  /* border: 4px solid red; */
color: #ffff;
}
.container55{
  /* border: 4px solid red; */
  width: 100%;
  height: 100vh;

}
.content44{
 /* height: 95vh; */

  /* margin-top: .5em; */
  /* background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) url(NG-en-20240527-popsignuptwoweeks-perspective_alpha_website_medium.jpg); */
 /* border: 10px solid yellow; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dd4dfce3-1a39-4b1a-8e19-b7242da17e68/a18f6685-02e6-4725-9cfb-b4f529734f1b/CH-en-20240527-popsignuptwoweeks-perspective_alpha_website_small.jpg);
 
  /* border: 5px solid gray;   */
  /* background-image: url(NG-en-20240527-popsignuptwoweeks-perspective_alpha_website_medium.jpg); */

 width: 100%;

  background-color: black;
  /* border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  /* opacity: 2; */
}
.head{
  /* border: 2px solid red; */
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;

  text-align: center;
}
.head img{
  height: 100px;
  width: 120px;
}
.btn12{
  width: 95px;
  height: 40px;
  border-radius: 10px;
  margin-left: .8em;
  border: none;
  background-color: red;
  color: #ffff;
}
.btn:hover{
  background-color: rgb(170, 3, 3);
}
.head2 .btnn:hover{ 
  background-color: rgb(170, 3, 3);
}
.head2{
  position: relative;
 
  display: inline-block;
  text-align: center;
  width: 100%;
color: #fffdfd;
margin-top: 6em; 
align-content: center;
align-items: center;
text-align: center;
justify-content: center;
}
.head2 p{
  position: relative;
  margin-inline: auto;

 width: 100%;
 height: 60vh;
 font-size: 1.7em;
  align-content: center;
  justify-content: center;
}
.head2 p strong{
   font-size: 1.7em;
} 
 .head2 input{
  height:8vh;
  width: 40%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ffff;
  /* margin-top: 1rem;
  margin-left: -10em; */
  background-color: rgba(29, 26, 26, 0.836);
  color: #ffff;
  
  

}
.fa-angle-right{
  font-size: 23px;
  margin-left: 1.5em;
}
.head2 ::placeholder{

  font-size: 1em;
  color: #e7e6e6;
}
.head2 .btnn{
  margin-left: 1em;
   height: 8vh;
  width: 190px; 
font-size:21px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 10px;
  color: #e9dbdb;
  cursor: pointer;


} 
@media (max-width:537px) {
  .head2 input{
    height:8vh;
    width: 85%;
    border-radius: 8px;
    outline: none;
    padding: 5px;
    border: 1px solid #ffff;
margin: 8px;
    background-color: rgba(29, 26, 26, 0.836);
    color: #ffff;
    
    
  }
  }   
  @media (max-width:323px) {
    .head2 .btnn{
      margin-left: 1em;
       height: 8vh;
      width: 70%; 
    font-size:21px;
      background-color: rgb(255, 0, 0);
      border: none;
      border-radius: 10px;
      color: #e9dbdb;
      cursor: pointer;
    
    
    } 
  } 
  @media (max-width:221px) {
    .head img{
      height: 100px;
      width: 80%;
      align-content: center;

    }
    .btn12{
      width: 95px;
      height: 40px;
      border-radius: 10px;
       margin-left: -11em;
      margin-top: 8em;
      border: none;
      background-color: red;
      color: #ffff;
    }
}

 .second{ 
  margin-inline: auto;
 padding-top: -13em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  font-size: 24px;
  padding: 44px;
  background-color: black;
  flex-wrap: wrap;
  /* padding: 5em; */
 border: 5px solid gray;
  border-top: none;
  border-left: none;
  border-right: none; 
  width: 100%;


  

}
.second1{
  flex-wrap: wrap;
  width: 50%;
   margin-top: 10em;
  color: #fffdfd;



}
.ade{
  margin-left: 3em;
}
.second1 p{
  margin-left: 4em;
}
.second1 p strong{
  font-size: 1.8em;

}

.second2{
  position: relative;
 justify-content: center;
 align-items: center;
 align-content: center;
width: 50%;
margin-top: 10em;



}

  .second2 video {
  
width: 68%;
margin-inline: auto;
justify-content: center;
align-content: center;
align-items: center;

margin-left: 8em;

} 
@media (max-width:993px) {
  .second2 video {
    margin-left: 6em;
     


    
    } 
  }
@media (max-width:975px) {
  .second{ 
    margin-inline: auto;
   padding-top: -13em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 24px;
    padding: 12px;
    background-color: black;
    flex-wrap: wrap;
    /* padding: 5em; */
   border: 5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none; 
    width: 100%;
  
  
    
  
  }
  .second1{
    margin-top: 6em;
    flex-wrap: wrap;
    width: 100%;

    color: #fffdfd;
  
  
  
  }
  .second1 p{
    margin-left: 1px;
  }
  .second1 .ade{

    text-align: center;
  }
  .second2{
       border: 2px solid red;
    display: flex;
   justify-content: center;
   align-items: center;
  width: 100%;
  margin-top: 3em;



  
  
  }
  
  .second2 video {
    width: 75%;


     


    
    } 
}

@media (max-width:607px) {
  .second2{
    
 display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 3em;





}

.second2 video {
 width: 75%;
margin-left: 0;

  


 
 } 
}
 @media (max-width:574px) {
  .second1 p{
    margin-left: 1px;
  }
  .second2{
    justify-content: center;
    align-items: center;
    align-content: center;
   width: 100%;
 
   
   
   
   }
   
   .second2 video {
     margin-top: 3em;
     width: 80%;
 margin-left: 1em;
 
     
     } 
}
@media (max-width:444px){
  .second1 p{
    margin-left: 1px;
  }
  .second2 video {
    margin-top: 3em;
    width: 80%;
margin-left: 2em;

    
    } 
}
@media (max-width:350px) {
  .second1 p{
    margin-left: 1px;
  }
  .second1{
    margin-top: 6em;
    flex-wrap: wrap;
    width: 100%;
 
    color: #fffdfd;
  
  
  
  }
  .second2{
    justify-content: center;
    align-items: center;
    align-content: center;
   width: 100%;

   
   
   
   }
   
   .second2 video {
     margin-top: 3em;
     width: 100%;
    margin-left: 1px;

 
     
     } 

} 

  
.third{ 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-size: 1em;
  background-color: black;
  color: #fffdfd;
  border: 5px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
 
  /* height: 94vh; */
}
.third1{
  margin-top: 14em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.default-ltr-cache-bjn8wh{

  width: 100%;
  justify-content: center;
  align-items: center;
 
}
.default-ltr-cache-bjn8wh .default-ltr-cache-1d3w5wq{
width: 380px;
}
.llll{
  display: flex;
  background-color: #000000;
  justify-content: space-between;
/* position: absolute; */
  align-items: center;
  border:2px solid grey;
  text-align: center;
  width:450px;
height: 120px;
  margin-left: -1.8em;
  border-radius: 10px;
  padding-left: 2em;
  /* margin-top: -10em; */
  mix-blend-mode: difference;
}
.default-ltr-cache-1t1z3a4{
  width: 70px;
}.tcf860{
  width: 70px;
  
  
}


.third2{
  margin-top: 14em;
  font-size: 1.7em;
  width: 50%;
  
}

 .third2 .yo{
  width: 90%;
  font-size: 2em;


}
@media (max-width:975px) {
  .third{ 
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 1em;
    background-color: black;
    color: #fffdfd;
    border: 5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;


  }
  .third1{
    margin-top: 14em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .third2{
    margin-top: 3em;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
  
    
  }
  
   .third2 .yo{
    width: 100%;
    font-size: 2em;
  
  
  }
  @media (max-width:423px) {
   
    .default-ltr-cache-bjn8wh .default-ltr-cache-1d3w5wq{
      width: 94%;
      } 
      .llll{
      display: flex;
      background-color: #000000;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      border:2px solid grey;
      text-align: center;
      width:100%;
      border-radius: 10px;
      /* padding-left: 2em; */
      margin-left: -10px;
      mix-blend-mode: difference;
    }
  }

}
.fourth{ 
    display: inline-block;
    justify-content: center;
    /* text-align: center; */
     align-items: center; 
    align-content: center;
    margin-inline: auto;
    width: 100%;
    height: 600px;
    font-size: 1.7em;
    background-color: black;
    border: 5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffff;
    font-size: 1.9em;
    

    
    
}
.fourth p{
 flex-wrap: wrap;
  /* border: 3px solid red; */
   width: 60%;
  margin-left: 1em;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 29px;
} 
.fourth p strong{
  /* border: 3px solid red; */

  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 50%;
  font-size: 2.1em;
}
@media (max-width: 975px) {
  .fourth p{
    flex-wrap: wrap;
      width: 92%;
     justify-content: center;
     text-align: center;
     align-items: center;
     align-content: center;
     font-size: 24px;
   
   } 
   .fourth p strong{

    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 1.8em;
  }
}
@media (max-width: 975px) {
  .fourth p{
    font-size: 18px;
    
}
.fourth p strong{
font-size: 1.4em;
}
}

 .fifth{ 
  flex-wrap: wrap;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: black;
  color: #fffdfd;
  border: 5px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
 
}
.fiftha{
  width: 50%;
  margin-top: 15em;
  margin-bottom: 5em

}
.fiftha img{
  height: 340px;
  width: 500px;

 
}
.fifthb{ 

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
   /* margin-left: 3em; */
   width: 50%;
   font-size: 24px;
   margin-top: 15em;
   margin-bottom: 5em
}

 .fifthb p{ 
 
justify-content: center;
align-content: center;
align-items: center;
text-align: center;

width: 70%;
}
.fifth h2{ 
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:975px) {
  .fifth{ 
    flex-wrap: wrap;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    background-color: black;
    color: #fffdfd;
    border: 5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
 
   
  }
  .fiftha{
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fifthb{ 
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
     width: 100%;
     font-size: 24px;
     margin-top: -1em;
  }
}
@media (max-width:453px) {
  .fiftha img{
 
    width: 90%;
  
   
  }
}

.sixth h2 button span{

  width: 68%;
}
.open .juju{
 
  width: 100%;
  text-align: center;
}
@media (max-width:353px) {
  .open .juju{
   font-size: 2.2em;
  }
}
 .open{
  padding: 5em;
  outline: none;
  background-color: transparent;

}
.padd{
  outline: none;
} 
.text{
   outline: none;
   box-shadow: none;
}
.sixth{ 
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
/* padding: 3em; */
  background-color: black;
  width: 100%;
  /* border: 2px solid red; */
}
.sixth h2{
  font-size: 55px;
  font-family: sans-serif;
  color: #fffdfd;
} 
.sixtha{

  justify-content: center;
  align-content: center;
  align-items: center;
}
.sixtha  h4{
  margin-left: 4em;
 background-color: none;
 width: 70%;
 text-align: left;
 margin-inline: auto;
padding-top: 1em;
background-color: rgb(34, 34, 34);




}
.sixtha button{ 
  /* margin-top: .7em;
  padding: 24px;
  width: 80%;
  text-align: left;
  font-size: 24px; */
  width: 70%;
 
margin-inline: auto;
   justify-content: center;
   align-content: center;
   align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: #1d1b1bea;
 
 
} 
@media(max-width:960px) {
  .sixtha button{ 
    width: 93%;
    margin-inline: auto;
  }
}
@media(max-width:676px) {
  .sixtha button{ 
    width: 100%;
    margin-inline: auto;
  }
  .sixtha  h4{
   width: 90%;
  }
}
@media (max-width:320px){
  .sixtha button{ 
    width: 96%;
    /* border: 2px solid red; */
    margin-inline: auto;
  }
  .sixtha{
    /* border: 2px solid red; */
    width: 95vw;
    padding: 0;
    margin-left: -4.7em;

  }
  
}

.sixthb{
  /* border: 2px solid red; */
  margin-top: 3em;
  padding: 24px 16px 8px;
}
.sixthb h3{
      font-size: 20px;
      font-family: sans-serif;
}
.sixthb input{
  margin: 1em;
 width: 25%;
 height: 55px;
 background-color: transparent;
 border: 1px solid #969090;
 border-radius: 6px;
 font-family: Arial, Helvetica, sans-serif;

}
.sixthb ::placeholder{
  color: #e9e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
} 
     
 .sixth  .kkk{
 height: 5vh;
  width: 210px;
  border-radius: 10px;
  border: none;
  font-size: 19px;
  background-color: red;
  color: #ffff;
}
@media(max-width:780px) {
  .sixthb input{
    margin: 1em;
   width: 75%;
   height: 55px;
   background-color: transparent;
   border: 1px solid #969090;
   border-radius: 6px;
   font-family: Arial, Helvetica, sans-serif;
  
  } 
}
.fa-plus{
 text-align: right;
 margin-right: 14px;
 height: 80px;
 width: 40%;
align-content: center;

}
@media(max-width:557px) {
  .sixth  .kkk{
    height: 8vh;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    background-color: red;
    color: #ffff;
  }

}
@media(max-width:339px) {
  .sixth  .kkk{
    max-height: auto;
  }
}
@media (max-width:320px) {
  .sixthb input{
    margin: 1em;
   width: 85%;
   height: 55px;
   background-color: transparent;
   border: 1px solid #969090;
   border-radius: 6px;
   font-family: Arial, Helvetica, sans-serif;
  
  } 
  .sixth  .kkk{
    height: 5vh;
    width: 60%;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    background-color: red;
    color: #ffff;
  }
}


.seventh a{
  color: #ffffffb3;
  /* justify-content: space-between; */
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;


}
.seventh{
  width: 100%;
  padding:  22px;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.seventh p{
  position: relative;
  color: #ffffffb3;
  font-size: 15px;
 
  padding: 6px;

}
ul li{

  padding-top: 18px;
  list-style: none;


}

ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
align-content: center;
align-items: center;


}
ul li a{
  font-size: 19px;
  width: 40%;
}
@media(max-width:780px) {
  .seventh{
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  
  }

  ul{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    justify-content: center;
  align-content: center;
  align-items: center;

  
  
  }
}
  @media(max-width:470px) {
    .seventh p{
      position: relative;
      color: #ffffffb3;
      font-size: 15px;
      padding: 6px;
    
    }
    .seventh ul{
      display: grid;
      grid-template-columns: 1fr 1fr ; 
      justify-content: center;
    align-content: center;
    align-items: center;
  
    
    
    }
}
  @media(max-width:400px){
    .seventh{
      width: 100%;
      padding:  22px;

      justify-content: center;
      align-content: center;
      align-items: center;
     
    
    }
       .seventh ul{
    
      display: grid;
    grid-template-columns: 1fr; 
      justify-content: center;
    align-content: center;
    align-items: center;
  

    
    
    }
  }


